# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build
build/
dist/
*.spec
*.egg-info/

# Local cache & history
history.json
*.log

# Virtual Environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
